@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding-bottom: 150px;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}

header > p {
    color: white;
    text-align: center;
    text-decoration: none;

}